In [2]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

password = 

engine = create_engine(f"postgresql://postgres:{password}@localhost:5432/stock_data")

query = "select * from stock_data;"

df = pd.read_sql(query, engine, index_col='stock_data_id')
print(df.head())

              stock_ticker  close_date  open  high   low  close   volume
stock_data_id
1                     AAPL  2000-01-03  3.67  4.02  3.63   4.00  4750700
2                     AAPL  2000-01-04  3.95  3.95  3.61   3.66  4519300
3                     AAPL  2000-01-05  3.68  3.95  3.59   3.63  6940600
4                     AAPL  2000-01-06  3.75  3.82  3.34   3.39  6856500
5                     AAPL  2000-01-07  3.41  3.61  3.41   3.50  4108800