# Slice and Dice Pandas DataFrames via Indexes

## 1. Import libraries and dependencies

In [16]:
# Import libraries and dependencies
import pandas as pd
from pathlib import Path

## 2. Create a Path to the File Using Pathlib

In [17]:
# Use the Pathlib libary to set the path to the CSV
csv_path = Path("../Resources/people_cleansed.csv")

## 3. Read the CSV into a Pandas DataFrame

In [18]:
# Read in the CSV as a DataFrame
people_csv = pd.read_csv(csv_path)
people_csv.head()

,Person_ID,Last_Name,First_Name,Gender,University,Occupation,Salary,Email,Age
0,1,Lenormand,Keriann,Female,Aurora University,Nurse Practicioner,58135.0,klenormand0@businessinsider.com,27
1,2,Rupke,Huntley,Male,Osaka University of Economics,Project Manager,96053.0,hrupke1@reuters.com,22
2,3,Dalgarnowch,Gorden,Male,Ludong University,Environmental Tech,59196.0,gdalgarnowch2@microsoft.com,40
3,4,Unnamed,Cullie,Male,Université des Sciences et de la Technologie d...,Legal Assistant,88493.0,cputten3@nymag.com,62
4,5,Strangman,Ariel,Female,Boise State University,Project Manager,89073.0,astrangman4@bravesites.com,47

## 4. Index Selection with iloc

### 1. Select First Row with iloc

In [34]:
# Select the first row of the DataFrame
people_csv.iloc(0)

### 2. Select First 10 Rows Using Index Selection with iloc

In [35]:
# Select the first 10 rows of the DataFrame
people_csv.iloc[0:10]

,Person_ID,Last_Name,First_Name,Gender,University,Occupation,Salary,Email,Age
0,1,Lenormand,Keriann,Female,Aurora University,Nurse Practicioner,58135.0,klenormand0@businessinsider.com,27
1,2,Rupke,Huntley,Male,Osaka University of Economics,Project Manager,96053.0,hrupke1@reuters.com,22
2,3,Dalgarnowch,Gorden,Male,Ludong University,Environmental Tech,59196.0,gdalgarnowch2@microsoft.com,40
3,4,Unnamed,Cullie,Male,Université des Sciences et de la Technologie d...,Legal Assistant,88493.0,cputten3@nymag.com,62
4,5,Strangman,Ariel,Female,Boise State University,Project Manager,89073.0,astrangman4@bravesites.com,47
5,6,Snozzwell,Antonio,Male,Babcock University,Technical Writer,119916.0,asnozzwell5@mysql.com,49
6,7,Neathway,Darya,Female,Molloy College,Administrative Officer,77705.0,dneathway6@seesaa.net,64
7,8,Duding,Helaina,Female,St. Paul University,Staff Scientist,57166.0,hduding7@topsy.com,26
8,9,Franzolini,Gerhardine,Female,Fundação Educacional de Ituverava,Environmental Specialist,73051.0,gfranzolini8@msn.com,22
9,10,Traut,Charo,Female,Cornell University,Programmer III,90631.0,ctraut9@oracle.com,45

### 3. Select Last Row Using Index Selection with iloc

In [36]:
# Select the last row of the DataFrame
people_csv.iloc[-1]

Person_ID                                       999
Last_Name                                      Yang
First_Name                                   Andrew
Gender                                         Male
University    Rutgers University School of Business
Occupation                      Curriculum Engineer
Salary                                        60000
Email                          ayang@codedrills.com
Age                                              53
Name: 972, dtype: object

### 4. Select Second Column Using Index Selection with iloc

In [42]:
# Select the second column of the DataFrame
people_csv.iloc[:,1].head()

0      Lenormand
1          Rupke
2    Dalgarnowch
3        Unnamed
4      Strangman
Name: Last_Name, dtype: object

### 5. Select Last Column Using Index Selection with iloc

In [43]:
# Select the last column of the DataFrame, with all rows
people_csv.iloc[:,3]

0      Female
1        Male
2        Male
3        Male
4      Female
        ...
968    Female
969      Male
970    Female
971      Male
972      Male
Name: Gender, Length: 973, dtype: object

### 6. Select First Three Columns Using Index Selection with iloc

In [24]:
# Select the first three columns of the DataFrame, with all rows

### 7. Select Specific Rows and Columns Using Index Selection with iloc

In [25]:
# Select the 1st, 3th, 5th, 7th rows of the 2nd, 4th, and 6th columns.

### 8. Select Ranges of Rows and Columns Using Index Selection with iloc

In [26]:
# Select the first 5 rows of the 3rd, 4th, and 5th columns of the DataFrame

### 9. Assign Values to Specific Rows and Columns Using Index Assignment with iLoc

In [27]:
# Modify the 'first_name' column value of the first row

## 5. Index Selection with `loc`:

### 1. Set Column as Pandas DataFrame Index

In [28]:
# Set the index as the 'first_name' column

### 2. Sort Pandas DataFrame by Index

In [29]:
# Sort the index

### 3. Select Specific Row with Index Selection using loc

In [30]:
# Select the row with the index 'Even'

### 4. Select Ranges of Rows with Index Selection using loc

In [31]:
# Slice the data to output a range of rows based on the index

### 5. Select Rows with Conditionals using loc

In [32]:
# Filter rows based on a column value conditional

### 6. Assign Values to Specific Rows and Columns Using Index Assignment with loc

In [33]:
# Modify the 'first_name' value of the row with the index 'Yun'